<a href="https://colab.research.google.com/github/shubhanshu-26/Big_data/blob/main/IMDB_Movie_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget https://archive.apache.org/dist/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz -O spark.tgz
!tar -xzf spark.tgz

--2025-04-14 13:43:36--  https://archive.apache.org/dist/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
Resolving archive.apache.org (archive.apache.org)... 65.108.204.189, 2a01:4f9:1a:a084::2
Connecting to archive.apache.org (archive.apache.org)|65.108.204.189|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 400395283 (382M) [application/x-gzip]
Saving to: ‘spark.tgz’

spark.tgz           100%[===================>] 381.85M   837KB/s    in 11m 31s

2025-04-14 13:55:07 (566 KB/s) - ‘spark.tgz’ saved [400395283/400395283]

In [3]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [4]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder \
    .appName("PySpark Clean Setup") \
    .getOrCreate()

In [6]:
df = spark.createDataFrame([
    ("Alice", 23),
    ("Bob", 34),
    ("Charlie", 29)
], ["Name", "Age"])

df.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 23|
|    Bob| 34|
|Charlie| 29|
+-------+---+

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
movies_path = "/content/drive/MyDrive/Spark-datasets/movies.csv"
ratings_path = "/content/drive/MyDrive/Spark-datasets/ratings.csv"

moviesdf = spark.read.option("header", "true").option("inferSchema", "true").csv(movies_path)
ratingsdf = spark.read.option("header", "true").option("inferSchema", "true").csv(ratings_path)

moviesdf.show(5)
ratingsdf.show(5)

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
+-------+--------------------+--------------------+
only showing top 5 rows

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|    296|   5.0|1147880044|
|     1|    306|   3.5|1147868817|
|     1|    307|   5.0|1147868828|
|     1|    665|   5.0|1147878820|
|     1|    899|   3.5|1147868510|
+------+-------+------+----------+
only showing top 5 rows

In [12]:
# Now running IMDB query(# Which IMDB movie has the most number of ratings)

# covert dataframe in which we were executing is DSL into normal table so that we can work with SQL
ratingsdf.createOrReplaceTempView("ratings")
moviesdf.createOrReplaceTempView("movies")

In [15]:
ratingsdf.printSchema()
moviesdf.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

In [16]:
spark.sql('''select title, count(*) as rating_count
             from movies m join ratings r ON m.movieId = r.movieId
             where genres = 'Comedy' group by title
             order by rating_count desc limit 1''').show()

+--------------------+------------+
|               title|rating_count|
+--------------------+------------+
|Ace Ventura: Pet ...|       37453|
+--------------------+------------+